<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Test</title>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0&appId=557272682824868&autoLogAppEvents=1" nonce="s3pAI3IV"></script>


<!--    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" onclick="click();">-->
<!--    </div>-->

<fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">

</fb:login-button>

<button onclick="logout();">Logout</button>


</body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1234',
            cookie     : true,
            xfbml      : true,
            version    : 'v14.0'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            // testAPI();
            console.log("LOGIN DONE");
            console.log(response.authResponse.userID);
            let userId = response.authResponse.userID;

            FB.api(
                response.authResponse.userID,
                function (response) {
                    if (response && !response.error) {
                        /* handle the result */
                        console.log("GOT ");
                        console.log("YOU ARE: " + response.name);
                        sendToServer(userId);
                    }
                }
            );

        } else {
            // The person is not logged into your app or we are unable to tell.
            // document.getElementById('status').innerHTML = 'Please log ' +
            //     'into this app.';
            console.log("FAILED")
        }
    }

    function logout() {
        FB.getLoginStatus(function(response) {
            if (response && response.status === 'connected') {
                FB.logout(function(response) {
                    document.location.reload();
                });
            }
            else {
                console.log("OUT")
            }
        });
    }

    function sendToServer(facebookId) {
        fetch('https://localhost:5001/api/user', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({facebookId: facebookId}),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                window.location.replace("https://localhost:5001/restaurants")
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


</html>